<% @page_title = "チャット" %>

<h1>Chat room</h1>
<p>Find me in app/views/rooms/show.html.erb</p>

<div id="messages">
  <%= render @messages %>
</div>

<form>
  <label>Say something:
   <input type="text" data-behavior="room_speaker">
  </label>
</form>
